

/* CSS */
.weather-section {
    background-color: #829cb1; /* Color de fondo claro */
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.weather-title {
    font-size: 2em;
    color: #333;
}

.weather-card {
    background-color: #790c0c;
    border: 1px solid #882121;
    border-radius: 8px;
    padding: 15px;
    margin-top: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.city-name {
    font-size: 1.5em;
    margin: 0;
}

.weather-icon {
    width: 50px;
    height: 50px;
}

.temperature {
    font-size: 2em;
    color: #ff4500; /* Color para la temperatura */
}

.description, .humidity, .wind {
    font-size: 1em;
    color: #666;
}

/*ESTILO PARA ENCABEZADO DEL CLIMA*/
.Tema_Clima{
  margin: 5rem auto;
  text-align: center;
  padding: 1rem;
  margin-bottom: 10rem;
}
/* SECTION #1
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.top-banner {
    color: var(--text_light);
  }
  
  .heading {
    font-weight: bold;
    font-size: 4rem;
    letter-spacing: 0.02em;
    padding: 0 0 30px 0;
  }
  
  .top-banner form {
    position: relative;
    display: flex;
    align-items: center;
    place-content: center;
  }
  
  .top-banner form input {
    font-size: 2rem;
    height: 40px;
    padding: 5px 5px 10px;
    border-bottom: 1px solid;
  }
  
  .top-banner form input::placeholder {
    color: currentColor; 
  }
  
  .top-banner form button {
    font-size: 2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    padding: 15px 20px;
    margin-left: 10rem;
    border-radius: 5px;
  }
  
 /* .top-banner form button:hover {
    background: var(--darkred);
  }*/
  
  .top-banner form .msg {
    position: absolute;
    bottom: -40px;
    left: 0;
    max-width: 450px;
    min-height: 40px;
  }
  
  
  /* SECTION #2
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .ajax-section {
    margin: 70px 0 20px;
  }
  
  .ajax-section .cities {
    display: grid;
    grid-gap: 32px 20px;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .ajax-section .city {
    position: relative;
    padding: 40px 10%;
    border-radius: 20px;
    background: var(--text_light);
    color: var(--text_med);
  }
  
  .ajax-section .city::after {
    content: '';
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: -12px;
    left: 5%;
    z-index: -1;
    opacity: 0.3;
    border-radius: 20px;
    background: var(--text_light);
  }
  
  .ajax-section figcaption {
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
  
  .ajax-section .city-temp {
    font-size: 5rem;
    font-weight: bold;
    margin-top: 10px;
    color: var(--text_dark);
  }
  
  .ajax-section .city sup {
    font-size: 0.5em;
  }
  
  .ajax-section .city-name sup {
    padding: 0.2em 0.6em;
    border-radius: 30px;
    color: var(--text_light);
    background: var(--orange);
  }
  
  .ajax-section .city-icon {
    margin-top: 10px;
    width: 100px;
    height: 100px;
  }
  
  
  /* FOOTER
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .page-footer {
    text-align: right;
    font-size: 1rem;
    color: var(--text_light);
    margin-top: 40px;
  }
  
  .page-footer span {
    color: var(--red);
  }
  
  
  /* MQ
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 1000px) {
    body {
      padding: 30px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media screen and (max-width: 700px) {
    .heading,
    .ajax-section .city-temp {
      font-size: 3rem;
    }
    
    .ajax-section {
      margin-top: 20px;
    }
    
    .top-banner form {
      flex-direction: column;
      align-items: flex-start;
    }
    
    .top-banner form input,
    .top-banner form button {
      width: 100%;
    }
  
    .top-banner form button {
      margin: 20px 0 0 0;
    }
    
    .top-banner form .msg {
      position: static;
      max-width: none;
      min-height: 0;
      margin-top: 10px;
    }
  
    .ajax-section .cities {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (max-width: 500px) {
    body {
      padding: 15px;
    }
    
    .ajax-section .cities {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  
  /* API Key banner
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .api {
    background: #fffbbc;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
  }
  
  .api a {
    text-decoration: underline;
  }
  
  .api a:hover {
    text-decoration: none;
  }