/* From Uiverse.io by G4b413l */ 
.ajax-section{
  margin-bottom: 30rem;
}
.group {
    position: relative;
   }
   
   .input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 25rem;
    border: none;
    border-bottom: 1px solid #2e2e2e;
    background: transparent;
   }
   
   .input:focus {
    outline: none;
   }
   
   label {
    color: #000000;
    font-size: 20px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .input:focus ~ label, .input:valid ~ label {
    top: -25px;
    font-size: 16px;
    color: #2e5f72;
   }
   
   .bar {
    position: relative;
    display: block;
    width: 25rem;
   }
   
   .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #2e5f72;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
   }
   
   .bar:before {
    left: 50%;
   }
   
   .bar:after {
    right: 50%;
   }
   
   .input:focus ~ .bar:before, .input:focus ~ .bar:after {
    width: 50%;
   }
   
   .highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
   }
   
   .input:focus ~ .highlight {
    animation: inputHighlighter 0.3s ease;
   }
   
   @keyframes inputHighlighter {
    from {
     background: #5264AE;
    }
   
    to {
     width: 0;
     background: transparent;
    }
   }


   /*BTN CLIMA*/
   /* From Uiverse.io by mrhyddenn */ 
.shadow__btn {
    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #474747;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
  }
  
  .shadow__btn {
    background: rgb(243, 243, 243);
    box-shadow: 0 0 25px rgb(92, 92, 92);
  }
  
  .shadow__btn:hover {
    box-shadow: 0 0 5px rgb(51, 51, 51),
                0 0 25px rgb(51, 51, 51),
                0 0 50px rgb(51, 51, 51),
                0 0 100px rgb(51, 51, 51);
  }